doctype html
html(lang="en")
    head
        title #{title}
        link(rel="stylesheet", href="/css/style.css")
    body
        .form-wrapper
            p Pet: #{name}
            p Color: #{color}
            P Legs: #{legs}
            form(method="POST")
                label(for="newVal") New Amount of Legs
                input(type="number" name="newVal" required)
                input(type="submit" value="Submit")
            a(href='/') Return to the homepage